.application {
    display: flex;
    flex-wrap: wrap;
    margin: 5rem auto;
    width: 90%;
    align-items: center;
    justify-content: space-between;
}
.program img{
    width: 100%;
    border-radius: 10px;
    display: block;
    height: 300px;
}
.program{
    flex-basis: 31%;
    position: relative;
    margin-bottom: 2rem;
}
.caption{
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,15,152,0.3);
    display: flex;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    cursor: pointer;
    opacity: 0;
    padding-top: 70px;
    transition: all 0.4s;

    
}
.caption h3{
    text-decoration: underline;
}
.caption p{
    text-align: center;
    padding: 20px;
}

.caption img{
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}
.program:hover .caption{
    opacity: 1;
    padding-top: 0;
}